<Files *.php> 
    #deny from all
</Files>
<Files "index.php">
   # Order Allow,Deny
    #Allow from all
</Files> 
<Files "apc.php">
    Order Allow,Deny
    Allow from all
</Files> 
<Files "apc.conf.php">
    Order Allow,Deny
    Allow from all
</Files>

RewriteEngine on 
Options +FollowSymlinks 
RewriteBase /fwtome

ErrorDocument 404 /404.htm
ErrorDocument 401 /404.htm
ErrorDocument 403 /404.htm
ErrorDocument 500 /404.htm


RewriteRule ^([0-9a-zA-Z\_]+)/([0-9a-zA-Z\_]+)/([0-9a-zA-Z\_]+)$ index.php?mod=$1&controller=$2&action=$3 [L,QSA]
RewriteRule ^([0-9a-zA-Z\_]+)/([0-9a-zA-Z\_]+)/([0-9a-zA-Z\_]+)\.htm$ index.php?mod=$1&controller=$2&action=$3 [L,QSA]
RewriteRule ^dang-nhap\.htm$ index.php?mod=user&controller=user&action=index [L,QSA]

RewriteRule ^news\.htm$ index.php?mod=posts&controller=posts&action=index [L,QSA]
RewriteRule ^news.htm&p([0-9]+)$ index.php?mod=posts&controller=posts&action=index&page=$1 [L,QSA]
RewriteRule ^news.htm&p([0-9]+)&t([0-9]+)$ index.php?mod=posts&controller=posts&action=index&page=$1&total=$2 [L,QSA]


RewriteRule ^dai-tieu\.htm$ index.php?mod=pages&controller=pages&action=detail&id=1 [L,QSA]
RewriteRule ^dep-sss\.htm$ index.php?mod=pages&controller=pages&action=detail&id=6 [L,QSA]
RewriteRule ^gioi-thieu\.htm$ index.php?mod=pages&controller=pages&action=detail&id=6 [L,QSA]
RewriteRule ^lien-he\.htm$ index.php?mod=pages&controller=pages&action=detail&id=9 [L,QSA]



RewriteRule ^chuyen-nho\.htm$ index.php?mod=pages&controller=pages&action=detail&id=10 [L,QSA]
RewriteRule ^tieng-anh\.htm$ index.php?mod=pages&controller=pages&action=detail&id=10 [L,QSA]