#revenue-chart-table{
	position: relative; 
	height: 500px;
}
.view_chart_table{
	text-align: center;
	height: 45px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 0;
}
.view_chart_table:hover{
	cursor: pointer;
}
.view_all_more{
	height: auto!important;
}